body.no-dialog {
  dialog {
    display: none;
    position: absolute;
    top: 5%;
    left: calc(50% - 140px);
    background: #fff;
    max-height: 90%;
    overflow-y: scroll;

    &[open] {
      display: block;
    }
  }
}
