.mdl-layout-item {
  padding: 0 40px 25px;
  font-size: 90%;
}

.mdl-navigation__link {
  padding: 5px 40px !important;
}

.mdl-layout__drawer > .mdl-layout__title,
.mdl-layout__drawer > .mdl-layout-title {
  line-height: 32px !important;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0 !important;
  padding-bottom: 1em !important;
}

.mdl-layout__drawer-button.over-game {
  color: #fff !important;
}

.mdl-dialog {
  width: 90% !important;
  max-width: 750px;
  min-width: 320px;
}
